.offcanvas{

    width:280px;
    overflow-x:hidden;

}

.offcanvas-body{

    overflow-x:hidden;

}

.offcanvas .nav-link{

    font-size:18px;
    padding:10px 0;
    transition:0.3s;

}

.offcanvas .nav-link:hover{

    color:#8b5cf6 !important;
    transform:translateX(8px);

}

#sidebarName{

    margin-top:10px;
    font-size:20px;

}

#sidebarEmail{

    font-size:15px;

}
#logoutBtn{
    margin-left: 7px;
}
#sidebarName{
  margin-left: 7px;  
}
#sidebarEmail{
  margin-left: 7px;  
}
.dashboard-card,
.stats-card{
    transition:0.3s;
}

.dashboard-card:hover,
.stats-card:hover{

    transform:translateY(-8px);

    box-shadow:0 12px 30px rgba(139,92,246,.35);

}