.offcanvas{

    width:280px;
    overflow-x:hidden;

}

.offcanvas-body{

    overflow-x:hidden;

}

.offcanvas .nav-link{

    font-size:18px;
    padding:10px 0;
    transition:0.3s;

}

.offcanvas .nav-link:hover{

    color:#8b5cf6 !important;
    transform:translateX(8px);

}

#sidebarName{

    margin-top:10px;
    font-size:20px;

}

#sidebarEmail{

    font-size:15px;

}
#logoutBtn,
#sidebarName,
#sidebarEmail{
    margin-left:7px;
}
.dashboard-card,
.stats-card{

    transition:transform .3s ease,
               box-shadow .3s ease;

}
.dashboard-card canvas{
    max-height:220px;
}
.dashboard-card:hover,
.stats-card:hover{

    transform:translateY(-8px);

    box-shadow:0 12px 30px rgba(139,92,246,.35);

}  
@media(max-width:768px){

    .offcanvas{
        width:240px;
    }

}
#profileAvatar{
    background-color: black;
}
body.light-mode {
    background: #f8f9fa;
    color: #212529;
}

body.light-mode .dashboard-card,
body.light-mode .stats-card {
    background: white;
    color: #212529;
}

body.light-mode .navbar {
    background: white !important;
}

body.light-mode .navbar-brand {
    color: #212529 !important;
}

body.light-mode .offcanvas {
    background: white !important;
    color: #212529 !important;
}
.dashboard-card{
    padding:30px;
}
#progressChart{
    max-height:280px !important;
}
.dashboard-card p{
    margin-bottom:11px;
}